@use 'src/style/breakpoints';

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  gap: 16px;

  overflow: auto;

  .mobileHidden {
    display: none;
    @include breakpoints.desktop() {
      display: block;
    }
  }
}
