.loginStack {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  align-items: stretch;

  margin: 32px auto;
  max-width: 350px;
  padding: 16px;

  border-radius: 12px;
  background-color: var(--c-bg-paper);
}

.loginButton {
  align-self: flex-end;
}
