.importLocalPageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.importLocalPageActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}
