@use 'src/style/util';

.titleAndLimit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.tagInputLabel {
  display: flex;
  flex-direction: column;
  gap: 4px;

  margin: 16px 0;
}
