@use 'src/style/breakpoints';
@use 'src/style/util';

// TODO remove grid, make item the only thing

.ItemContent {
  grid-area: itemContent;
  position: relative;
  height: 100%;
  max-height: calc(100vh - 48px);

  background-color: rgba(0, 0, 0, 50%);
}

.CloseItemBtn {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: #{util.$layer-modal + 1};

  --iconSize: 48px;
}

.InfoItemBtn {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: #{util.$layer-modal + 1};

  --iconSize: 48px;
}
