@use 'src/style/breakpoints';
@use 'src/style/util';

.itemContent {
  grid-area: itemContent;
  position: relative;
  flex: 1;
  overflow: hidden;
}

.ItemMenu {
  position: absolute;
  top: 0;
  left: 0;
  animation: menuShow 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.iconBar {
  z-index: #{util.$layer-modal + 1};

  .iconCard {
    display: flex;
    justify-content: space-between;
    padding: 8px;

    .InfoItemBtn,
    .CloseItemBtn {
      --iconSize: 48px;
    }
  }
}

@keyframes menuShow {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
