$primary: #007fff;
$primary--dark: rgba(255, 255, 255, 0.87);

$text: rgba(0, 0, 0, 0.87);
$text--dark: rgba(255, 255, 255, 0.87);

$textSecondary: rgba(58, 58, 58, 0.87);
$textSecondary--dark: rgba(173, 173, 173, 0.87);

$bg: white;
$bg--dark: #242424;

$componentBg: #e5e5e5;
$componentBg--dark: #000000;
