@use 'src/style/colors';
@use 'src/style/colors2';
@use 'src/style/typography';
@use 'src/style/inputs';

:root {
  font-family: 'Open Sans', sans-serif;

  color-scheme: light dark;
  color: var(--c-primary-contrast);
  background-color: var(--c-bg);

  @media (prefers-color-scheme: light) {
    color: colors.$text;
    background-color: #ffffff;
  }

  // Idk what those do
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
  display: block;

  color: colors.$text--dark;
  @media (prefers-color-scheme: light) {
    color: colors.$text;
  }
}
